{% load static %}

<!DOCTYPE html>
<html lang='ja'>

    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <link rel='stylesheet' href="{% static 'css/style.css' %}">

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <title>CraigsList</title>
    </head>

    <body>
        <div class="container nav-wrapper">
            <a href='/' class='brand-logo'>CraigsList</a>
            <ul id='nav-mobile' class='right'>
                <li><a href='/'>Home</a></li>
            </ul>
        </div>
        <h3>testing</h3>
    </body>
</html>
